* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, helvetica, sans-serif;
	background-color: #ddd;
}

main {
	margin: 20px auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	max-width: 500px;
}

header,
footer {
	height: 30px;
	background-color: #444;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

form {
	margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
}

h1 {
	margin: 20px;
	font-size: 1.5rem;
}

input,
textarea,
select {
	padding: 10px;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid navy;
	font-size: 1.1rem;
}

button {
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 700;
}

label {
	color: navy;
	font-size: 16px;
}

input:focus,
textarea:focus {
	outline: none;
}

input::placeholder {
	font-size: 13px;
}

#formmessage {
	visibility: none;
	margin: 10px;
	padding: 0.5rem;
	color: red;
}

#keyphrase:invalid {
	background-color: #fff0f3;
	animation: shaketext 500ms;
}

/* input[required] ^ label::after {
	font-size: 10px;
	content: " *️⃣";
} */

.req::after {
	font-size: 10px;
	content: " *️⃣";
}

.smaller {
	font-size: 11px;
	position: absolute;
	top: -10px;
	right: 10px;
}

@keyframes shaketext {
	25% {
		transform: translateX(3px);
	}
	50% {
		transform: translateX(-3px);
	}
	75% {
		transform: translateX(3px);
	}
}
ody {
	font-family: Roboto, Arial, sans-serif;
	margin: 1rem;
}

h1 {
	font-size: 1.75rem;
	color: navy;
	border-bottom: 1px solid #bbb;
}

hr {
	margin-bottom: 40px;
}

label {
	display: block;
	font-weight: 700;
}

input[type=text], input[type=range], input[type=radio] {
	margin: 1rem;
	padding: 0.5em;
}

#alpha:focus, #fruit:focus {
	background-color: #eee;
}

#alpha:valid, #fruit:valid {
	background-color: #bed;
}
#alpha:invalid, #alpha:invalid {
	background-color: #fff0f3;
	border: 1px solid red;
}
#alpha:invalid::before {
	content: "❌";
}


#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}



/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}


/* Checkbox *******************************************/
input[type=checkbox] {
	margin-left: 10px;
}
/* Note the enlargement from the standard, tiny checkbox */
#task {
	width: 25px;
	height: 25px;
}

.vcentered {
	display: flex;
	align-items: center;
}

/* other */
.inline {
	display: inline;
}

.ref {
	font-size: 13px;
	margin-top: 1rem;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
