body {
	font-family: Roboto, Arial, sans-serif;
	margin: 1rem;
}

h1 {
	font-size: 1.75rem;
	color: navy;
	border-bottom: 1px solid #bbb;
   }

hr {
	margin-bottom: 40px;
   }

p {
	margin: 1rem;
	display: flex;
    font-family: Roboto, Arial, sans-serif;
	margin: 1rem;
}
#feedback{color:red;}

#myButton{
    font-size: 2rem;
    background-color: #36454f;;
    border:none;
    color: #45e069;
    cursor:pointer;
    width:100%;
    text-align: right;
    padding: .25rem 2vw;
}
#darkBtn{
    top:  1rem; right: 1rem;
    width: 24px;
    background-color:#fff;
    cursor: pointer;
    position:absolute
    }

ul.menuLinks li a{
    display:block;
    padding:.75rem 2vw;
    text-decoration: none;
}
ul.menuLinks{
    display:none;
}
ul.open{
    display:block;
}


h2{
    background-color: #277ded;
    display: block; 
    padding: 20px;
    border:1px solid rgba(0,0,0,0.1) 
}

h3{
    background-color:#277ded;
    padding: 20px;
    border:1px solid rgba(0,0,0,0.1)   
}
header{
    background-color: #0ba0ea;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    border:1px solid rgba(0,0,0,0.1);
}
label {
	display: block;
	font-weight: 700;
    padding: 0.5em;
}

label.pwd {
	display: block;
	font-weight: 700;
    padding: 0.5em;
}
input[type=text], input[type=range], input[type=radio] {
	margin: 1rem;
	padding: 0.5em;
}

#alpha:focus, #fruit:focus {
	background-color: #eee;
}

#alpha:valid, #fruit:valid {
	background-color: #bed;
}
#alpha:invalid, #alpha:invalid {
	background-color: #fff0f3;
	border: 1px solid red;
}
#alpha:invalid::before {
	content: "❌";
}


#r {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#rangevalues {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
}

#rangevalues option {
	flex: 1 1 auto;
}


/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}
