* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    }
    body {
    font-family : "Sansita", sans-serif;
    }
    h1.p {
        font-family : Arial, sans-serif;
        display : flex;
        display : block;
        box-sizing : border-box;
        padding : 10px;
        }
        .label {
        font-family : Arial, sans-serif;
        font-weight : 700;
        }
   
    #darkBtn {
    top : 1rem;
    right : 1rem;
    width : 24px;
    background-color : #fff;
    cursor : pointer;
    position : absolute;
    }
    #myButton {
    font-size : 2rem;
    background-color : #36454f;
    border : none;
    color : #45e069;
    cursor : pointer;
    width : 100%;
    text-align : right;
    padding : 0.25rem 2vw;
    }
    ul.menuLinks li a {
    display : block;
    padding : 0.75rem 2vw;
    text-decoration : none;
    }
    ul.menuLinks {
    display : none;
    }
    ul.open {
    display : block;
    }
    ul.menuLinks li a {
        display : block;
        padding : 0.75rem 2vw;
        text-decoration : none;
        }
     ul.menuLinks {
        display : none;
        }
     ul.open {
        display : block;
        }
     h2 {
        background-color : #277ded;
        display : block;
        padding : 20px;
        border : rgb(0, 0, 0, 0.1) solid 1px;
        }
    h3 {
        background-color : none
        padding : 20px;
        border : rgb(0, 0, 0, 0.1) solid 1px;
        }
   
    header {
    background-color : #0ba0ea;
    align-items : center;
    display : flex;
    justify-content : center;
    padding : 20px;
    border : rgb(0, 0, 0, 0.1) solid 1px;
    }
    main {
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(300px,1fr));
    gap : 20px;
    }
    img {
        max-width: 100%;
        max-height:100%;
        padding: 15px;
    }
    nav {
    background-color : #36454f;
    margin : 0 auto;
    max-width : 3000px;
    }
    nav ul {
    display : block;
    color : #fff;
    text-align : center;
    padding : 1rem;
    text-decoration : none;
    }
    .hero img {
        width : 100%;
        height : 100%;
        object-fit : cover;
        }
     .herolabel {
        position : absolute;
        top : 30px;
        left : 30px;
        background : radial-gradient(#fff, #4D5B97);
        border : rgb(0, 0, 0, 0.75) solid 1px;
        padding : 1.5rem;
        box-shadow : 0 0 3rem #fff;
        opacity : 0.75;
        }
        #visits {
            color : navy;
            font-weight : bolder;
            font-size : larger;
            }
            
         nav a {
            display : block;
            color : #fff;
            text-align : center;
            padding : 1rem;
            text-decoration : none;
            }
        nav ul :hover {
            border : rgb(0, 0, 0, 0.1) solid 1px;
            }
     .card1 {
        width : 30%;
        height : 10px;
        box-sizing : border-box;
        list-style-type : none;
        flex-direction : column;
        display : block;
        color : red;
        }
    footer {
    display : block;
    margin : 0 auto;
    max-width : 3000px;
    background-color : rgb(235, 24, 133, 0.903);
    text-align : center;
    }
    .card2 {
        width : 30%;
        height : 10px;
        box-sizing : border-box;
        list-style-type : none;
        padding : 5em;
        flex-direction : column;
        display : block;
        color : pink;
        font-family : Arial, sans-serif;
        }
     .map {
        margin-top : 20px;
        }
     nav {
        background-color : #eb1dbf;
        margin : 0 auto;
        max-width : 3000px;
        }
    nav a {
    display : block;
    color : #fff;
    text-align : center;
    padding : 1rem;
    text-decoration : none;
    }
    nav ul :hover {
    border : rgb(0, 0, 0, 0.1) solid 1px;
    }
    .active {
    color : yellow;
    }

    @media (min-width: 640px) {
    nav ul {
    display : flex;
    justify-content : space-evenly;
    }
    .gallery:hover img {
        transform: scale(1.1);
    }

    }
    