
/* Larger views*/
@media (min-width: 640px){
    *{box-sizing: border-box;}
    body {
        font-family : "Sansita", sans-serif;
        }
        figure {
            
            padding: 15px;
        }
        figure:hover {
            text-align: center;
            background-color: rgba(248, 237, 237, 0.135);
            color: #fcf5f514;
        }
        #darkBtn {
        top : 1rem;
        right : 1rem;
        width : 24px;
        background-color : #fff;
        cursor : pointer;
        position : absolute;
        }
        #myButton {
        font-size : 2rem;
        background-color : #36454f;
        border : none;
        color : #45e069;
        cursor : pointer;
        width : 100%;
        text-align : right;
        padding : 0.25rem 2vw;
        }
        ul.menuLinks li a {
        display : block;
        padding : 0.75rem 2vw;
        text-decoration : none;
        }
        ul.menuLinks {
        display : none;
        }
        ul.open {
        display : block;
        }
    
        header {
        background-color : #0ba0ea;
        align-items : center;
        display : flex;
        justify-content : center;
        padding : 20px;
        border : rgb(0, 0, 0, 0.1) solid 1px;
        }
        main {
        display : grid;
        grid-template-columns : repeat(auto-fit,minmax(300px,1fr));
        gap : 20px;
        }
        nav {
        background-color : #36454f;
        margin : 0 auto;
        max-width : 3000px;
        }
        nav ul {
        display : block;
        color : #fff;
        text-align : center;
        padding : 1rem;
        text-decoration : none;
        }
        footer {
        display : block;
        margin : 0 auto;
        max-width : 3000px;
        background-color : rgb(235, 24, 133, 0.903);
        text-align : center;
        }
        nav a {
        display : block;
        color : #fff;
        text-align : center;
        padding : 1rem;
        text-decoration : none;
        }
        nav ul :hover {
        border : rgb(0, 0, 0, 0.1) solid 1px;
        }
        .active {
        color : yellow;
        }
    }
       